
 

*{
  margin: 0;
  padding: 0;
}

.main {
  background-image: url("/assets/images/bgimage.jpg");
  height: 105vh;
  background-size: cover;
  position: relative;
}

body{
  background-color: black;
}

nav {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 20px; 
  z-index: 2;
}

.logo {
  color: red;
  font-weight: bolder;
  font-family: Arial, Helvetica, sans-serif;
}

.buttons {
  display: flex;
}

.english,
.signin {
  margin-left: 10px; 
  border: none;
  border-radius: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.signin {
  background-color: red;
  border: none;
  border-radius: 10px;
}

button {
  padding: 8px 16px;
  cursor: pointer;
}

.head{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    position: absolute;
    color: aliceblue;
    align-items: center;
}

.subhead{
  color: aliceblue;
  font-size: large;
}

.hero{
 font-family: 'Martel Sans', sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  color: aliceblue;
  gap: 23px;
  margin-top: 30vh;
}

.hero> :nth-child(1){
  font-family: 'Martel Sans', sans-serif;
  font-weight: 900;
  font-size: 48px;
  text-align: center;
}

.hero> :nth-child(2){
  font-family: 'Martel Sans', sans-serif;
    font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.hero> :nth-child(3){
  font-family: 'Martel Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.email{
  color: black;
  fill: none;
}

.seperation{
  color: grey;
  height: 11px;
}

.Email{
  display: flex;
  justify-content: space-between;
}
.gs{
  height: 10vh;
  width: 35vh;
  color: aliceblue;
  background-color: rgb(183, 2, 2);
  border-radius: 5px;
  border: none;
  font-family: 'Martel Sans', sans-serif;
  font-size: 23px;
  font-weight: bolder;
  
}

.email{
  height: 10vh;
  width: 60vh;
  background-color: black;
  border-radius: 5px;
  border:5px grey;
  margin-right: 5px;
}




@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@800&display=swap')
 @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;700;800&display=swap')
